<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<title>表單</title>
</head>
<body>
	<form action="#" method="post">
		帳號：
		<input type="text" name="user" value="苡琦">
		<br><br>密碼：
		<input type="password" name="pwd" value="123456">
		<br><br><input type="submit" value="確定送出">
	</form> 
	<form action="/math" method="post">
        <input type="number" name="x" required>

        <select name="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>

        <input type="number" name="y" required>

        <br><br>
        <input type="submit" value="計算">
    </form>

    {% if result is not none %}
        <h3>結果：{{ result }}</h3>
    {% endif %}

    {% if error %}
        <h3 style="color:red;">{{ error }}</h3>
    {% endif %}
</body>
</html>